@font-face { font-family: floral; src: url('floral_dawn.ttf'); } 

.site-heading-lower {
    font-family: floral;
}

.about-heading-content {
    margin-top: 1rem!important;
}

.carousel-item>img {
    margin:auto;
    height:350px;
}

.carousel-item {
    text-align: center;
}

.carousel-caption {
    color:invert!important;
}

.site-heading {
    color:#f9d898!important;
}